<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>LuxNett Control robot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/joystick.css') }}"/>

</head>



<body>
<header>
    <section class="hero is-primary is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Luxnett Control Board
                </h1>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs">
                <div class="container">
                    <ul>
                        <li class="is-active"><a  onclick="overviewPage()">Overview</a></li>
                        <li><a onclick="teachPage()">Teach</a></li>
                        <li><a onclick="joystickPage()">Joystick</a></li>
                        <li><a onclick="automaticPage()">Automatic</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
</header>
<div class="container">
    <div>
        <p class="title is-3 is-spaced" align="center">CAMERA</p>
    </div>
    <div id="camera" align="center">
         <img src="{{ url_for('video_feed') }}">
        </br>

    </div>
    <div class="columns is-hidden is-center" data-nav="manuel">
        <div class="column" align="center">
            <div class="ul ">
                <div class="li">
                    <p class="title is-3 is-spaced">ACTION</p>
                    <a class="button is-rounded is-warning elemManual" id="brushA" value="Stop" onclick="statusBrushA()">brush front</a>
                    <a class="button is-rounded is-warning elemManual" id="brushB" value="Stop" onclick="statusBrushB()">brush back</a>
                    </br>
                    </br>
                    <a class="button is-rounded is-warning elemManual" id="water" value="Stop" onclick="statusWater()">water</a>
                    <a class="button is-rounded is-warning elemManual" id="light" value="Stop" onclick="statusLight()">light</a>
                </div>
                </br>
                <div class="li">
                    <a class="button is-rounded is-success elemManual" id="clean" onclick="clean()">clean</a>
                </div>
            </div>
        </div>
        <div class="column" align="center">
            <p class="title is-3 is-spaced is-center">ORDER</p>
            <a title="up" class="button is-outlined elemManual is-center" id="up" onmousedown="moveUp()" onmouseup="mouseMoveUp()">
                    <span class="icon">
                        <i class="fa fa-chevron-up"></i>
                    </span>
            </a>
            </br>
            <a title="left" class="button is-outlined elemManual" id="left"  onmousedown="moveLeft()" onmouseup="mouseMoveLeft()">
                    <span class="icon">
                        <i class="fa fa-chevron-left"></i>
                    </span>
            </a>

            <a title="down" class="button is-outlined elemManual" id="down" onmousedown="moveDown()" onmouseup="mouseMoveDown()" >
                    <span class="icon">
                        <i class="fa fa-chevron-down"></i>
                    </span>
            </a>
            <a title="right" class="button is-outlined elemManual" id="right" onmousedown="moveRight()" onmouseup="mouseMoveRight()" >
                    <span class="icon">
                        <i class="fa fa-chevron-right"></i>
                    </span>
            </a>
            </br>
            </br>
            <a class="button is-rounded is-warning elemManual" id="back" onclick="statusBack()">Turn back</a>
            </br>


        </div>
        </br>
    </div>
    <div class=" is-hidden" align="center" data-nav="joystick" >

        <p class="title is-3 is-spaced is-center">JOYSTICK</p>
        <a class=" button  is-rounded is-success" id="loadJ" onclick="LoadJoystick()">Load Joystick</a>
        <a class=" button  is-rounded is-danger" id="stopJ" onclick="stopJoystick()">Stop Joystick</a>
        </br>

        <div class="JoystickZone is-center">
            <div class="JoystickMain" id="JoystickMain">
                <div class="Joystick" id="Joystick">
                    <script type="text/javascript">
                        setInterval(function(argument) {
                            if (JoystickReady) {
                                document.getElementById("log").innerHTML = "X : " + GetJoystick_X() + "  -  Y : " + GetJoystick_Y();
                                var jsonToSend = new Object();
                                jsonToSend.x = GetJoystick_X();
                                jsonToSend.y = GetJoystick_Y();
                                var jsonString = JSON.stringify(jsonToSend, null, '\t');
                                $.ajax({
                                    url: '/joys/',
                                    type: 'POST',
                                    dataType: 'application/json;charset=UTF-8',
                                    data: jsonString,
                                    statusCode: {
                                        200: function () {

                                            console.log("Success !");
                                        },
                                        400: function () {
                                            console.log("NO joys")
                                        }
                                    }
                                });
                            }
                        },100);
                    </script>
                </div>
            </div>
        </div>
        <div id="log">

        </div>
    </div>

    <div class="is-hidden" data-nav="automatic" >
        </br>
        </br>
        Width (meter)  <input class=" input is-warning elemAuto"  type="text"  id="Width"/>
        Height (meter) <input class=" input is-warning elemAuto"  type="text"  id="Height"/>
        Speed  (meter/second) <input class=" input is-warning elemAuto"  type="text"  id="Speed"/>
        </br>
        </br>
        <a class="button is-success is-rounded is-center elemAuto" onclick="runAuto()">Start Automatic</a>
        <a class="button is-danger is-rounded is-center elemAuto" onclick="stopAuto()">Stop Automatic</a>
    </div>
</div>
</br>

<footer class="footer is-small">
    <div class="content has-text-centered is-small">
        <p>
            Created by student of IMERIR to Luxnett
        </p>
    </div>
</footer>
</body>

<script src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/action.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/order.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/program.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/display.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/camera.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/SimpleJoystick.js') }}"></script>

</html>